<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Courses</title>
    <link rel="stylesheet" href="./css/Timetable.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1> My Courses </h1>
    <h2>Welcome to Online Education Portal.</h2>

    <table class="table">

        <tr>
            <th>Serial Number</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Credits</th>
        </tr>

        <% var i =1%>
        <% data.forEach((item)=>{ %>

        <tr>
            <td><%= i %></td>
            <td><%= item.Course_Code %></td>
            <td><%= item.Course_Name %></td>
            <td><%= item.Credits %></td>
            <!-- <td><%= item.day %></td> -->
        </tr>
        
        <% i++}) %>
        
    </table>
</body>

</html>
