<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/add_course.css">
    <link rel="stylesheet" href="./css/Attendance.css">
   <style>
        .bar {
            margin: 10px 0px 10px 0px;
            position: sticky;
            display: flex;
            background-color: rgb(87, 212, 225);
            border-radius: 15px;
            z-index: 10;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin: 0px 10px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            padding: 7px;
            color: #072ff2;
        }

        li a:hover {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            background-color: #dbefea;
        }

        @media (min-width: 770px) {
            .bar {
                top: 2px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 10px;
            }

            li {
                font-size: 17px;
                margin: 2px;
            }
        }

        @media (min-width: 590px) and (max-width: 770px) {
            .bar {
                top: 3px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 5px;
            }

            li {
                font-size: 12px;
                margin: 2px;
            }
        }

        @media (min-width: 385px) and (max-width: 590px) {
            .bar {
                top: 3px;
                margin: 6px 0px;
            }

            ul {
                padding-inline-start: 2px;
            }

            li {
                font-size: 7px;
                margin: 0px;
            }
        }

        @media (max-width: 385px) {
            .bar {
                top: 2px;
                margin: 5px 0px;
            }

            ul {
                padding-inline-start: 0px;
            }

            li {
                font-size: 6px;
                margin: 0px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="/teacher_home">Home</a></li>
            <li><a href="/check_attendance">Check Attendance</a></li>
            <li><a href="/datewise_attendance">Attendance by date</a></li>
            <li><a href="/prof_timetable">Time Table</a></li>
            <li><a href="/prof_courses">Courses</a></li>
            <li><a href="/prof_change_password">Change Password</a></li>
            <li><a href="/logout">LogOut</a></li>
        </ul>
    </div>
    
    <h1>Check Attendance</h1>

    <div class="container">

        <form id="form" action="" method="post">
            <div class="box">
                <i class="fa fa-vcard-o"></i>
                <input placeholder="Course Code" name="code" type="text" required=true>
            </div>
            <div class="box">
                <i class="fa fa-vcard-o"></i>
                <input placeholder="Date" name="date" type="date" required=true>
            </div>

            <button class="btn" type="submit">Check Attendance</button>
    </div>

    <%if( typeof error != 'undefined'){%>
    <p><%=error%></p>
    <%}%>
    </form>
   
    <%if(typeof data != 'undefined'){
      if(data.length > 0){%>
    <table class="table">

        <tr>
            <th>Sr. No.</th>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Time</th>
        </tr>

        <% var i =1%>
        <% data.forEach((item)=>{ %>
        <tr>
            <td><%=i%></td>
            <td><%= item.Roll_No %></td>
            <td><%= item.S_Name %></td>
            <td><%= item.Time %></td>
        </tr>
        <% i++}) %>

    </table>
    <%}else{%>
    <h3>No attendance registered on the entered date.</h3>
    <%}%>
      <%}%>
</body>

</html>
