

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Professors</title>
    <l]
    
    <h2>Welcome to Online Education Portal.</h2>

    <div class="container">
        <table class="table">
            <tr>
                <th>Serial No.</th>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Post</th>
                <th>Dept. ID</th>
            </tr>


            <%
            if(data.length>0){
                var i=1;
                data.forEach((inf)=>{ 
                    %>
                    <tr>
                        <td><%= i; %></td>
                        <td><%= inf.P_Name %></td>
                        <td><%= inf.Employee_ID %></td>
                        <td><%= inf.Post %></td>
                        <td><%= inf.Department_ID %></td>
                    </tr>
            <% i++;    })%>
            <% }else{ %>
                <td colspan="7">No Data Found</td>
            <% }%>
        </table>
    </div>
</body>
</html>
