
   data.forEach((inf)=>{ 
                    %>
                    <tr>
                        <td><%= i; %></td>
                        <td><%= inf.P_Name %></td>
                        <td><%= inf.Employee_ID %></td>
                        <td><%= inf.Post %></td>
                        <td><%= inf.Department_ID %></td>
                    </tr>
            <% i++;    })%>
            <% }else{ %>
                <td colspan="7">No Data Found</td>
            <% }%>
        </table>
    </div>
</body>
</html>
