

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
    <link rel="stylesheet" href="./css/Attendance.css">
</head>
<body>
 <header class="head">
        <div class="">
            <img class="logo" src="./css/images/logo.png" alt="...">
         </div>
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
        
</header>
    
    <nav id="navbar">
        <div id="logo">
            <img src="./css/images/logo.png" alt="">
         </div>
        <ul>
       
          
                                  <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="/ongoing_classes">My Attendance</a></li>
        <li class="item"><a href="/student_timetable">Time Table</a></li>
        <li class="item"><a href="/student_courses">Courses</a></li>
        <li class="item"><a href="/study_material">Study Material</a></li>
        <li class="item"><a href="/student_change_password">Change Password</a></li>
        <li class="item"><a href="/logout">LogOut</a></li>



        </ul>
        </div>
    </nav>
    <h1>Students</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <div class="container">
        <table class="table">
            <tr>
                <th>Serial No.</th>
                <th>Name</th>
                <th>Roll No.</th>
                <th>Program</th>
                <th>Year Of Admission</th>
            </tr>


            <%
            if(data.length>0){
                var i=1;
                data.forEach((inf)=>{ 
                    %>
                    <tr>
                        <td><%= i; %></td>
                        <td><%= inf.S_Name %></td>
                        <td><%= inf.Roll_No %></td>
                        <td><%= inf.Program_Enrolled %></td>
                        <td><%= inf.Year_Of_Study %></td>
                    </tr>
            <% i++;    })%>
            <% }else{ %>
                <td colspan="7">No Data Found</td>
            <% }%>
        </table>
    </div>
</body>
</html>
