

<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>My courses</title>
  <link rel="stylesheet" href="/css/Attendance.css">
  <style>
        .bar {
            margin: 10px 0px 10px 0px;
            position: sticky;
            display: flex;
            background-color: rgb(87, 212, 225);
            border-radius: 15px;
            z-index: 10;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin: 0px 10px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            padding: 7px;
            color: #072ff2;
        }

        li a:hover {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            background-color: #dbefea;
        }

        @media (min-width: 770px) {
            .bar {
                top: 2px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 10px;
            }

            li {
                font-size: 17px;
                margin: 2px;
            }
        }

        @media (min-width: 590px) and (max-width: 770px) {
            .bar {
                top: 3px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 5px;
            }

            li {
                font-size: 12px;
                margin: 2px;
            }
        }

        @media (min-width: 385px) and (max-width: 590px) {
            .bar {
                top: 3px;
                margin: 6px 0px;
            }

            ul {
                padding-inline-start: 2px;
            }

            li {
                font-size: 7px;
                margin: 0px;
            }
        }

        @media (max-width: 385px) {
            .bar {
                top: 2px;
                margin: 5px 0px;
            }

            ul {
                padding-inline-start: 0px;
            }

            li {
                font-size: 6px;
                margin: 0px;
            }
        }
    </style>
</head>

<body>
   <nav class="navbar">
        <img class="logo" src="/css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li> <a href="/student_home">Home</a></li>
            <li> <a href="/ongoing_classes">Mark Attendance</a></li>
            <li> <a href="/student_attendance">My Attendance</a></li>
            <li><a href="/student_timetable">Time Table</a></li>
            <li> <a href="/student_courses">Courses</a></li>
            <li> <a href="/study_material">Study Material</a></li>
            <li> <a href="/student_change_password">Change Password</a></li>
            <li> <a href="/student_request_course">Request Course</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>


 
    <%if(typeof data != 'undefined'){
        var i=1; %>
          <table class="table">
      <tr style="color: rgb(151, 4, 156); background-color: chartreuse;">
        <th>Serial No.</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Credits</th>
        <th>Request Course</th>
      </tr>
      <% var i =1%>
      <% data.forEach((item)=>{ %>
        <tr>
          <td><%= i %></td>
          <td><%= item.Course_Code %></td>
          <td><%= item.Course_Name %></td>
          <td><%= item.Credits %></td>
          <% var link = '/request_course/?id='+id+'&code=';
          link += item.Course_Code;%>
          <td><a href="<%=link%>"><button>Request</button></a></td>
      </tr>
      <% i++}) %>
    </table>
    <%}else{%>
        <h3>You are enrolled in all the courses</h3>
   <% } %>
    <%if( typeof error != 'undefined'){%>
        <p><%=error%></p>
        <%}%>
        <%if( typeof info != 'undefined'){%>
            <p><%=info%></p>
            <%}%>
</body>

</html>
