<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
    <link rel="stylesheet" href="./css/Attendance.css">
    <style>
        .bar {
            margin: 10px 0px 10px 0px;
            position: sticky;
            display: flex;
            background-color: rgb(87, 212, 225);
            border-radius: 15px;
            z-index: 10;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin: 0px 10px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            padding: 7px;
            color: #072ff2;
        }

        li a:hover {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            background-color: #dbefea;
        }

        @media (min-width: 770px) {
            .bar {
                top: 2px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 10px;
            }

            li {
                font-size: 17px;
                margin: 2px;
            }
        }

        @media (min-width: 590px) and (max-width: 770px) {
            .bar {
                top: 3px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 5px;
            }

            li {
                font-size: 12px;
                margin: 2px;
            }
        }

        @media (min-width: 385px) and (max-width: 590px) {
            .bar {
                top: 3px;
                margin: 6px 0px;
            }

            ul {
                padding-inline-start: 2px;
            }

            li {
                font-size: 7px;
                margin: 0px;
            }
        }

        @media (max-width: 385px) {
            .bar {
                top: 2px;
                margin: 5px 0px;
            }

            ul {
                padding-inline-start: 0px;
            }

            li {
                font-size: 6px;
                margin: 0px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <!-- <li><a href="/Home_page">Home</a></li> -->
            <li><a href="/Admin_home">Admin Home</a></li>
            <li><a href="/admin_change_password">Change Password</a></li>
            <li><a href="/set_sem_dates">Set Semester Dates</a></li>
            <li><a href="/admin_change_email">Edit Email</a></li>
            <li><a href="/admin_request_course">Courses Request List</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    
    <h1>Students List</h1>
    
    <div class="container">
        <table class="table">
           <tr style="color: rgb(151, 4, 156); background-color: chartreuse;">
                <th>Serial No.</th>
                <th>Name</th>
                <th>Roll No.</th>
                <th>Program</th>
                <th>Year Of study</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>


            <%
            if(data.length>0){
                var i=1;
                data.forEach((inf)=>{ 
                    %>
                    <tr>
                        <td><%= i; %></td>
                        <td><%= inf.S_Name %></td>
                        <td><%= inf.Roll_No %></td>
                        <td><%= inf.Program_Enrolled %></td>
                        <td><%= inf.Year_Of_Study %></td>
                        <td><%= inf.Gender %></td>
                        <td><%= inf.Email %></td>
                        <!-- <td><%= inf.DOB %></td> -->
                    </tr>
            <% i++;    })%>
            <% }else{ %>
                <td colspan="7">No Data Found</td>
            <% }%>
        </table>
    </div>
</body>
</html>
