<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Time-table</title>
  <link rel="stylesheet" href="./css/Timetable.css">
</head>

<body>
  <header>
    <h1>भारतीय प्रौद्योगिकी संस्थान इंदौर Indian Institute of Technology Indore
    </h1>
    <h2>welcome to online education portal</h2>
    </header>
    <nav id="navbar">
        <div id="logo">
          <img class="logo" src="images/logo.png" alt="...">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">My Attendance</a></li>
            <li class="item"><a href="#">Time Table</a></li>
            <li class="item"><a href="#">Courses</a></li>
            <li class="item"><a href="#">Study Material</a></li>
            <li class="item"><a href="#">LogOut</a></li>
           


        </ul>
        </div>
    </nav>
  <h1> Time-table </h1>
 
    <h2>Welcome to Online Education Portal.</h2>
    <h2>Today is -----day and you have to take --- classes today.</h2>

  
    <table class="table">
    
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      
      <% var i =1%>
      <% data.forEach((item)=>{ %>
        <tr>
          <td><%= item.Time %></td>
          <td><%= item.Monday %></td>
          <td><%= item.Tuesday %></td>
          <td><%= item.Wednesday %></td>
          <td><%= item.Thursday %></td>
          <td><%= item.Friday %></td>
          <td><%= item.Saturday %></td> 
      </tr>
      <% i++}) %>
      
    </table>
</body>

</html>
