<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Time-table</title>
  <link rel="stylesheet" href="Timetable.css">
</head>

<body>
    <table class="table">
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <% data.forEach((item)=>{ %>
        <tr>
          <td><%= item.Time %></td>
          <td><%= item.Monday %></td>
          <td><%= item.Tuesday %></td>
          <td><%= item.Wednesday %></td>
          <td><%= item.Thursday %></td>
          <td><%= item.Friday %></td>
          <td><%= item.Saturday %></td>
          <!-- <td><%= item.day %></td> -->
      </tr>
      <% }) %>
    </table>
</body>

</html>
