<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/update_student.css">
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>

        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
    <style>
        .bar {
            margin: 10px 0px 10px 0px;
            position: sticky;
            display: flex;
            background-color: rgb(87, 212, 225);
            border-radius: 15px;
            z-index: 10;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin: 0px 10px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            padding: 7px;
            color: #072ff2;
        }

        li a:hover {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            background-color: #dbefea;
        }

        @media (min-width: 770px) {
            .bar {
                top: 2px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 10px;
            }

            li {
                font-size: 17px;
                margin: 2px;
            }
        }

        @media (min-width: 590px) and (max-width: 770px) {
            .bar {
                top: 3px;
                margin: 10px 0px;
            }

            ul {
                padding-inline-start: 5px;
            }

            li {
                font-size: 12px;
                margin: 2px;
            }
        }

        @media (min-width: 385px) and (max-width: 590px) {
            .bar {
                top: 3px;
                margin: 6px 0px;
            }

            ul {
                padding-inline-start: 2px;
            }

            li {
                font-size: 7px;
                margin: 0px;
            }
        }

        @media (max-width: 385px) {
            .bar {
                top: 2px;
                margin: 5px 0px;
            }

            ul {
                padding-inline-start: 0px;
            }

            li {
                font-size: 6px;
                margin: 0px;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="/Admin_home">Admin Home</a></li>
            <li><a href="/admin_change_password">Change Password</a></li>
            <li><a href="/set_sem_dates">Set Semester Dates</a></li>
            <li><a href="/admin_change_email">Edit Email</a></li>
            <li><a href="/admin_request_course">Courses Request List</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    <h1>Update Course Data</h1>

    <table class="table">
        <tr style="color: rgb(151, 4, 156); background-color: chartreuse;">
            <th>Field</th>
            <th>Old Value</th>
        </tr>
        <tr>
            <td style="background-color: rgb(161, 228, 255);">Name</td>
            <td><%= data1.Course_Name%></td>
        </tr>
        <tr>
            <td style="background-color: rgb(161, 228, 255);">Class Link</td>
            <td><%= data1.Class_Link%></td>
        </tr>
        <tr>
            <td style="background-color: rgb(161, 228, 255);">Credits</td>
            <td><%= data1.Credits%></td>
        </tr>
    </table>

    <div class="container">

        <h1>New Data</h1>
        <form action="" method="POST">
            <div class="box">
                <i class="fa fa-address-card"></i>
                <label for="name">Course Name</label>
                <input type="text" name="name" required="true" id="name" value='<%= data1.Course_Name%>'>
            </div>
            <div class="box">
                <i class="fa fa-link"></i>
                <label for="link">Class Link</label>
                <input type="text" name="link" required="true" value='<%= data1.Class_Link%>'>
            </div>
            <div class="box">
                <i class="fa fa-vcard-o"></i>
                <label for="credits">Credits</label>
                <input type="text" name="credits" required="true" id="depid" value='<%= data1.Credits%>'>
            </div>
            <div id="container">
          
                <p id="save" style="visibility: hidden;"></p>
                <%var cc = cid%>
                <input name="cid" type="text" style="display: none;" value='<%=cc.toString()%>'>
            </div>
            <a href="/admin_home" type="submit" ><button class="btn" id="btn2">Update</button></a>

        </form>

    </div>

</body>

</html>
