<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update_Student</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/update_student.css">
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>
        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Update Student Data</h1>
    <h2>Welcome to Online Education Portal</h2>
<div>
    <table class="table">
        <tr>
            <th>Field</th>
            <th>Old Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><%= data1.S_Name%></td>
        </tr>
        <tr>
            <td>Program</td>
            <td><%= data1.Program_Enrolled%></td>
        </tr>
        <tr>
            <td>Year Of Study</td>
            <td><%= data1.Year_Of_Study%></td>
        </tr>
        <tr>
            <td>Department ID</td>
            <td><%= data1.Department_ID%></td>
        </tr>
        <tr>
            <td>Courses</td>
            <td>
                <% data2.forEach((item)=>{%>
                <span style="display: inline-block;"><%=item.Course_Code%></span>
                <%})%>
            </td>
        </tr>
    </table>
</div>
    <div class="container">

        <h1>New Data</h1>
        <form action="" method="POST">
            <div class="box">
                <i class="fa fa-user"></i>
                <input type="text" name="username" required="true" id="name" placeholder="Enter Name">
            </div>
            <div class="box">
                <i class="fa fa-address-card"></i>
                <input type="text" name="program" required="true" placeholder="Enter Program">
            </div>
            <div class="box">
                <i class="fa fa-calendar"></i>
                <input type="text" name="year" required="true" id="year" placeholder="Enter Year of study">
            </div>
            <div class="box">
                <i class="fa fa-vcard-o"></i>
                <input type="number" name="depid" required="true" id="depid" placeholder="Enter Department ID">
            </div>
            <div id="container">
          
                <p id="save" style="visibility: hidden;"></p>
                
            </div>
            <button  style="display: block;" class="btn" onclick="add()" >Add Course</button></br>
            <a href="/admin_home" type="submit" ><button class="btn">Update</button></a>

        </form>

    </div>


</body>

</html>
